@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Enable browser theming  */
@custom-variant dark (&:where(.dark, .dark *));

/* Custom vertical screen queries */
@custom-variant xshort { @media (max-height: 400px) { @slot; } }
@custom-variant short { @media (min-height: 401px) and (max-height: 600px) { @slot; } }
@custom-variant tall { @media (min-height: 601px) and (max-height: 800px) { @slot; } }
@custom-variant xtall { @media (min-height: 801px) { @slot; } }

@theme {
  --color-primary: #EC4646;
  --color-primary-dark: #F5EE27;
  --color-secondary: #51C2D5;
  --color-body: #f6f6f6;
  --color-body-dark: #0c0c0c;
  --color-accent: #9792e3;
  --color-border: #E0E0E0;
  --color-muted: #F5F5F5;

  --background-image-horizonAnimated: url("src/assets/horizon-animated.svg");
}

@layer components {
  .project-slide {
    @apply flex-none w-[calc(100%-4rem)] mx-8 h-full flex flex-col rounded-2xl
           overflow-hidden bg-[color:theme(colors.accent/20%)]
           dark:bg-neutral-900 border-2 border-accent;
  }

  .project-content {
    @apply flex-1 flex flex-col items-center justify-center text-center px-4;
  }

  .project-title {
    @apply text-sm xtall:text-xl mb-1 text-neutral-800 dark:text-neutral-200;
  }

  .project-text {
    @apply text-xs xtall:text-base text-neutral-600 dark:text-neutral-400;
  }

  .project-button {
    @apply mt-2 px-3 py-1 bg-accent text-white rounded-lg text-xs xtall:text-base
           hover:bg-accent/90 transition;
  }
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

:root {
  /* --particle-color-1: #fc03ad; */
  --particle-color-1: theme(colors.neutral.800);
  /* --particle-color-2: #0073ff; */
  --particle-color-2: #9792e3;
  /* --svg-color: theme(colors.accent / 0.15); */
  --svg-color: theme(colors.neutral.800 / 0.15);

}


/* Correct selector for when the html element has class "dark" */
html.dark {
  /* --particle-color-1: #00f970; */
  --particle-color-1: theme(colors.neutral.200);
  /* --particle-color-2: #eeff00; */
  --svg-color: theme(colors.accent / 0.15);
  /* --svg-color: theme(colors.neutral.200 / 0.15); */
}


.hidden-menu {
  opacity: 0;
  pointer-events:none;
  visibility: hidden;
  /* transform: translateY(-6px); */
}

body.menu-open .hidden-menu {
  opacity: 1;
  pointer-events:auto;
  visibility: visible;
  transform: none;
}

body.menu-open #hidden-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transform: none;
  pointer-events: auto;
}