---
import { Image } from "astro:assets";

import avatarUrl from "/src/assets/drawn.png";
---

<div
  class="flex justify-center items-center w-40 h-40 p-2 overflow-hidden z-30"
>
  <Image
    src={avatarUrl}
    alt="Portrait of me"
    width={144}
    height={144}
    class="rounded-full object-contain w-full h-full bg-accent"
    loading="eager"
  />
</div>
