<section
    id="section-footer"
    class="relative w-full bg-body dark:bg-body-dark text-neutral-600 dark:text-neutral-400 text-center text-xs"
  >
    <p style="white-space: pre-line;">
      &copy; {new Date().getFullYear()} Michael Scott Mulek
      Built with AstroJS & Tailwind CSS
</p>
  </section>